//- pug D:\Darna\pug\pages -w -P -o D:\Darna\

extend ../layouts/main.pug

block titleAndSeo

    title Ø§Ù„ØµÙØ­Ø© Ø§Ù„Ø±Ø¦ÙŠØ³ÙŠØ©
    meta(name="description", content="Ù†Ø­Ù† Ø´Ø±ÙƒØ© Ù…ØªØ®ØµØµØ© ÙÙŠ ØªØµÙ…ÙŠÙ… Ù…ÙˆØ§Ù‚Ø¹ Ø§Ù„ÙˆÙŠØ¨ ÙˆØªØ·Ø¨ÙŠÙ‚Ø§Øª Ø§Ù„Ø¬ÙˆØ§Ù„ Ø¨ØªØµØ§Ù…ÙŠÙ… Ù…Ø¨ØªÙƒØ±Ø© ÙˆØ­Ø¯ÙŠØ«Ø©. Ø§Ø­ØµÙ„ Ø¹Ù„Ù‰ Ù…ÙˆÙ‚Ø¹ ÙˆÙŠØ¨ Ø£Ùˆ ØªØ·Ø¨ÙŠÙ‚ ÙŠÙ…Ø«Ù„ Ø¹Ù„Ø§Ù…ØªÙƒ Ø§Ù„ØªØ¬Ø§Ø±ÙŠØ© Ø¨Ø´ÙƒÙ„ Ø§Ø­ØªØ±Ø§ÙÙŠ ÙˆØ¬Ø°Ø§Ø¨.")
    meta(name="keywords", content="ØªØµÙ…ÙŠÙ… Ù…ÙˆØ§Ù‚Ø¹ Ø§Ù„ÙˆÙŠØ¨ØŒ ØªØ·ÙˆÙŠØ± ØªØ·Ø¨ÙŠÙ‚Ø§Øª Ø§Ù„Ø¬ÙˆØ§Ù„ØŒ ØªØµÙ…ÙŠÙ… Ù…ÙˆØ§Ù‚Ø¹ Ø§Ù„Ø§Ù†ØªØ±Ù†ØªØŒ ØªØµÙ…ÙŠÙ… Ù…ÙˆØ§Ù‚Ø¹ Ø§Ø­ØªØ±Ø§ÙÙŠØ©ØŒ ØªØ·ÙˆÙŠØ± ØªØ·Ø¨ÙŠÙ‚Ø§Øª Ø§Ù„Ù‡Ø§ØªÙ Ø§Ù„Ù…Ø­Ù…ÙˆÙ„")

block append styleCss
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.rtl.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css")
    link(rel="stylesheet", href="css/home-ar.css")


block PageContent

    header.header

        div.LBack
        img(src="./img/Rectangle-Header.png")
        .content
            include ../components/nav.pug
            .h-content

                section.elements 
                    .container(data-aos="zoom-in")
                        figure.d-flex.d-lg-none.small-screen
                                section.figure-container 
                                    img(src="./img/hd.jpg", alt="")
                        p.text-center.text-lg-start 
                            | Ù†ØµÙ…Ù… ÙˆÙ†Ø³ÙˆÙ‚ Ù„Ø³ÙƒØ§Ù† Ø¯Ø§Ø±Ù†Ø§.. ÙˆÙ…Ù…ÙƒÙ† Ø¬ÙŠØ±Ø§Ù†Ù‡Ø§ ðŸ¤·
                            
                        a(href="https://wa.me/966500095203") ØªÙˆØ§ØµÙ„ ØªÙˆØµÙ„ #[span.ms-3 >]

                        p.mt-3.mt-md-5.text-center.text-lg-start 
                            | Ø®Ø¨Ø±Ø§Øª ØªØ¹Ù„ÙŠÙ…ÙŠØ© ÙˆØªØ¯Ø±ÙŠØ¨ÙŠØ© Ù…ÙˆØ«ÙˆÙ‚Ø© Ù…Ù€Ù€Ù€Ù€Ù†

                        .owl-carousel.owl-theme.owl-carousel1
                            -for(var x = 1 ; x <=11; x++)
                                .item
                                    img(src=`./img/com (${x}).png`, alt="")
                            

                
                figure.d-none.d-lg-flex.large-screen(data-aos="fade-right")
                    section.figure-container 
                        img(src="./img/hd.jpg", alt="")

    section.services.wow.backInRight
        .container 
            h2(data-aos="zoom-in") 
                | ÙØ²Ø¹ØªÙ†Ø§

            section.all-ser.row
                .ser(data-aos="fade-up")
                    figure.ser-icon    
                        img(src="./icon/1.png", alt="")
                    h4 
                        | Ù‡Ù†Ø¯Ø³Ø© Ø§Ù„Ø´Ø¹Ø§Ø±Ø§Øª Ø§Ù„Ù…Ø¨ØªÙƒØ±Ø©
                    p.ser-explain 
                        | Ù…Ù‡Ù†Ø¯Ø³ÙŠÙ† Ø´Ø¹Ø§Ø±Ø§Øª Ù…Ø¨ØªÙƒØ±Ø© Ø¬Ø§Ù‡Ø²ÙŠÙ† Ù„Ù‡Ù†Ø¯Ø³Ø© ÙÙƒØ±ØªÙƒ Ø§Ù„Ù‰ Ø´Ø¹Ø§Ø± Ø§Ø³ØªØ±Ø§ØªÙŠØ¬ÙŠ Ù…Ø¨ØªÙƒØ±
                .ser(data-aos="fade-up")
                    figure.ser-icon    
                        img(src="./icon/2.png", alt="")
                    h4 
                        | Ù…ÙƒØ§Ù† Ù‡ÙˆÙŠØªÙƒ Ø§Ù„Ø¨ØµØ±ÙŠØ©
                    p.ser-explain 
                        | Ù†ØµÙ…Ù… Ù‡ÙˆÙŠØ© Ø¨ØµØ±ÙŠØ© Ù…Ù…ÙŠØ²Ø© ØªØ­Ø§ÙØ¸ Ø¹Ù„Ù‰ Ø¬Ù…Ø§Ù„ ÙˆÙ…ÙƒØ§Ù†Ø© Ù…Ø´Ø§Ø±ÙŠØ¹Ùƒ
                .ser(data-aos="fade-up")
                    figure.ser-icon    
                        img(src="./icon/3.png", alt="")
                    h4 
                        | Ø¨Ø§Ø¨ Ø§Ù„Ù…Ø­ØªÙˆÙ‰ Ø§Ù„Ø§Ø¨Ø¯Ø§Ø¹ÙŠ
                    p.ser-explain 
                        | Ù„ÙƒÙ„ Ø¨ÙŠØª Ø¨Ø§Ø¨Ù‡ ÙˆÙƒÙ„ Ù…Ø´Ø±ÙˆØ¹ Ù…Ø­ØªÙˆÙ‰ Ø§Ø¨Ø¯Ø§Ø¹ÙŠ ÙŠØ¹Ø±Ù ÙŠØµÙŠØºÙ‡
                .ser(data-aos="fade-up")
                    figure.ser-icon    
                        img(src="./icon/4.png", alt="")
                    h4 
                        | Ù…Ø±ÙƒØ² Ø§Ù„ØªØ³ÙˆÙŠÙ‚ Ø§Ù„Ø§Ø³ØªØ±Ø§ØªÙŠØ¬ÙŠ
                    p.ser-explain 
                        | Ù†ÙˆÙØ± Ø®Ø¨Ø±Ø§Øª ÙˆØ­Ù„ÙˆÙ„ ØªØ³ÙˆÙŠÙ‚ÙŠØ© ØªØ³Ø§Ø¹Ø¯ Ø¨ØªØ·ÙˆÙŠØ± ÙˆØªÙ†Ù…ÙŠØ© Ù…Ø´Ø±ÙˆØ¹Ùƒ
                .ser(data-aos="fade-up")
                    figure.ser-icon    
                        img(src="./icon/5.png", alt="")
                    h4 
                        | Ù…Ø­Ø·Ø© Ø§Ù„Ù…ÙˆØ§Ù‚Ø¹ Ø§Ù„Ø§Ù„ÙƒØªØ±ÙˆÙ†ÙŠØ© 
                    p.ser-explain 
                        | ØªØµØ§Ù…ÙŠÙ… Ø§Ù„Ù…ÙˆÙ‚Ø¹ Ø§Ù„Ø§Ù„ÙƒØªØ±ÙˆÙ†ÙŠ ØªÙˆØµÙ„ Ø¹Ù…ÙŠÙ„Ùƒ Ù„Ù…Ø­Ø·ØªÙƒ Ø¨Ø¯ÙˆÙ† Ù„Ù ÙˆØ¯ÙˆØ±Ø§Ù†
                .ser(data-aos="fade-up")
                    figure.ser-icon    
                        img(src="./icon/6.png", alt="")
                    h4 
                        | Ø§Ù†Ø·Ù„Ø§Ù‚Ø©
                    p.ser-explain 
                        | ØªØ´ÙƒÙŠÙ„Ø© Ø§Ø¨Ø¯Ø§Ø¹ÙŠØ© Ù…Ù† Ø¬Ù…ÙŠØ¹ Ø§Ù„Ø§Ù‚Ø³Ø§Ù… ØªØ³Ø§Ø¹Ø¯Ùƒ ØªÙƒÙ…Ù„ Ù…Ø´Ø±ÙˆØ¹Ùƒ

    section.works.works1
        .container(data-aos="zoom-in")
            .owl-theme(data-bs-ride='carousel',data-bs-pause='false',data-bs-touch='true',data-bs-keyboard='true')
                .item(data-bs-interval='12000')
                    .container-of-slider.row.align-items-center
                        
                        .slider-text.col-12.col-lg-7.text-center.text-lg-start
                        
                            h4.carousel-header
                                span.number.d-block.fw-bold
                                    | Ø§Ù„ØªØ³ÙˆÙŠÙ‚ Ø§Ù„Ù…Ø¬ØªÙ…Ø¹ÙŠ 
                                
                            p.desc.fw-bold.mt-5.pe-lg-5
                                |  Ø§Ù„ØªØ³ÙˆÙŠÙ‚ Ù„Ù„Ù‚Ø·Ø§Ø¹ Ø§Ù„Ø®ÙŠØ±ÙŠ Ø³Ø§Ù‡Ù… Ø¨ØªÙ†Ù…ÙŠØ© Ø§Ù„Ù…ÙˆØ§Ø±Ø¯ Ø§Ù„Ù…Ø§Ù„ÙŠØ© Ù„Ù„Ù‚Ø·Ø§Ø¹ ÙˆØ§Ø³ØªØ¯Ø§Ù…Ø© Ø£Ø«Ø±Ù‡ Ø¹Ù„Ù‰ Ø§Ù„Ù…Ø¬ØªÙ…Ø¹!
                        
                        figure.col-12.col-lg-5.mt-3.mt-lg-0
                            img.carousel-img(src='./img/Rectangle24.png' alt='')
                                
    section.works.works2
        .container(data-aos="zoom-in")
            .owl-theme(data-bs-ride='carousel',data-bs-pause='false',data-bs-touch='true',data-bs-keyboard='true')
                .item(data-bs-interval='12000')
                    .container-of-slider.row.align-items-center.flex-column-reverse.flex-lg-row
                        
                        
                        
                        figure.col-12.col-lg-7.mt-3.mt-lg-0.px-5
                            img.carousel-img(src='./img/Frame 146.png' alt='')

                        .slider-text.col-12.col-lg-5.text-center.text-lg-start
                        
                            h4.carousel-header
                                span.number.d-block.fw-bold
                                    | Ø§Ù„ØªØ³ÙˆÙŠÙ‚ Ø§Ù„Ø§Ù„ÙƒØªØ±ÙˆÙ†ÙŠ 
                                
                            p.desc.fw-bold.mt-5.pe-lg-5
                                |  Ø¯Ø®ÙˆÙ„Ùƒ Ù„Ù„Ø¹Ø§Ù„Ù… Ø§Ù„Ø±Ù‚Ù…ÙŠ ÙŠØ³Ø§Ù‡Ù… Ø¨ÙˆØµÙˆÙ„ Ù…Ø³ØªÙÙŠØ¯ÙŠÙƒ Ù„Ù…Ù†ØªØ¬Ø§ØªÙƒ ÙˆØ®Ø¯Ù…Ø§ØªÙƒ Ø§Ù„Ù…Ù…ÙŠØ²Ø© Ù„ØªÙŠØ³ÙŠØ± Ø§Ø­ØªÙŠØ§Ø¬Ø§ØªÙ‡Ù…!
                                


    section.customers
        h2.text-center(data-aos="zoom-in")  
            | Ø³ÙÙƒØ§Ù† Ø¯Ø§Ø±Ù†Ù€Ù€Ù€Ù€Ù€Ø§
        .img-container 
            .container.py-5
                .row 
                    .col-3 
                        img(data-aos="fade-up" , src='./img/Frame 1000003565.png')
                    .col-3 
                        img(data-aos="fade-up" , src='./img/Frame 1000003562.png')
                    .col-3 
                        img(data-aos="fade-up" , src='./img/Frame 1000003563.png')
                    .col-3 
                        img(data-aos="fade-up" , src='./img/Frame 1000003564.png')
                .row.justify-content-center
                    .col-3 
                        img(data-aos="fade-up" , src='./img/Frame 1000003567.png')
                    .col-3 
                        img(data-aos="fade-up" , src='./img/Frame 1000003566.png')
                    .col-3 
                        img(data-aos="fade-up" , src='./img/Frame 1000003568.png')
                .row 
                    .col-3 
                        img(data-aos="fade-up" , src='./img/Frame 1000003570.png')
                    .col-3 
                        img(data-aos="fade-up" , src='./img/Frame 1000003569.png')
                    .col-3 
                        img(data-aos="fade-up" , src='./img/Frame 1000003571.png')
                    .col-3 
                        img(data-aos="fade-up" , src='./img/Frame 1000003572.png')
                .row.justify-content-center
                    .col-3 
                        img(data-aos="fade-up" , src='./img/Frame 1000003574.png')
                    .col-3 
                        img(data-aos="fade-up" , src='./img/Frame 1000003573.png')
                    .col-3 
                        img(data-aos="fade-up" , src='./img/Frame 1000003575.png')
                .row.justify-content-center
                    .col-3 
                        img(data-aos="fade-up" , src='./img/Frame 1000003576.png')
                    .col-3 
                        img(data-aos="fade-up" , src='./img/Frame 1000003577.png')


    section.whatsapp-icon.px-2.px-lg-0(data-aos="flip-up")
        a.d-block.container.py-3(href="https://wa.me/966500095203")
            .row.w-100.px-1.px-md-4
                .col-9.txt.ps-md-5
                    h2.header-for-contact-us  ØªÙˆØ§ØµÙ„ ÙˆÙ†Ø­Ù„Ù‡Ù€Ù€Ù€Ø§ Ù„Ùƒ ðŸ‘ˆ
                    p *ØªØ·Ø¨Ù‚  Ø§Ù„Ø´Ø±ÙˆØ· ÙˆØ§Ù„Ø£Ø­ÙƒØ§Ù… ðŸ˜…

                span.col-3.img-container.pe-md-5
                    img(src="./img/whatsapp.png", alt="whatsapp icon")

block append JavascriptFiles

      