/* ******************* */
/*        Font         */
/* ******************* */

@font-face{
	font-family: "Cairo";
	src:url("../fonts/ArbFONTS-Cairo-Regular-2.ttf")
}
@font-face {
    font-family: "Cairo";
    src: url("../fonts/ArbFONTS-Cairo-Light-2.ttf");
    font-weight:lighter;
}
@font-face {
    font-family: "Cairo";
    src: url("../fonts/ArbFONTS-Cairo-Bold-2.ttf");
    font-weight: bold;
}

*:not(i){
	font-family:"Cairo" !important;
	// font-weight: bold;
}
a, span ,p{
	font-size: 2vh;

	// عرض الشاشة اكبر من الارتفاع
	@media screen and (orientation:landscape) {
		font-size: 1.4vw;
	}
}

h2{
	font-size: 4.8vh;
	@media screen and (orientation:landscape) {
		font-size:3.8vw;
	}
}

h3,
h4{
	font-size: 1.9vh;
	@media screen and (orientation:landscape) {
		font-size: 1.3vw;
	}
}
p.ser-explain {
	font-size:1.8vh;
	@media screen and (orientation:landscape) {
		font-size: 1.2vw;
	}
}