/* ******************* */
/*        Font         */
/* ******************* */

@font-face{
	font-family: "Cairo";
	src:url("../fonts/ArbFONTS-Cairo-Regular-2.ttf")
}
@font-face {
    font-family: "Cairo";
    src: url("../fonts/ArbFONTS-Cairo-Light-2.ttf");
    font-weight:lighter;
}
@font-face {
    font-family: "Cairo";
    src: url("../fonts/ArbFONTS-Cairo-Bold-2.ttf");
    font-weight: bold;
}

*:not(i){
	font-family:"Cairo" !important;
	// font-weight: bold;
}


h2{
	// font-size: 4.8vh;
	font-size: 1.8rem;
	@media screen and (orientation:landscape) {
		font-size:3.8vw;
	}
}
h2.header-for-contact-us{
	font-size: 2rem;
	@media screen and (orientation:landscape) {
		font-size:4vw;
	}
}
h3,h4,
a, span ,p{
	// font-size: 2.5vh;
	font-size: 1.1rem;
	// عرض الشاشة اكبر من الارتفاع
	@media screen and (orientation:landscape) {
		font-size: 1.4vw;
	}
}


p.ser-explain,
footer p,
footer label,
footer a,
footer button {
	// font-size:2.2vh;
	font-size: 1rem;
	@media screen and (orientation:landscape) {
		font-size: 1.35vw;
	}
}


.works{

    .item{
        .carousel-header{
            .number{
                font-size: 4.5rem;
				@media screen and (orientation:landscape) {
					font-size:6.5vw;
				}
            }
			.title{
				font-size: 1.6rem;
				@media screen and (orientation:landscape) {
					font-size:3.5vw;
				}
			}
		}
     }
}

