#footer{
    background-color:$mc;
    color:$white;
    
    .details{
        .logo{
            max-width:45%;
        }
        p{
            width:80%;
            margin: auto;
            @media screen and (min-width:768px) {
                width:70%;
                margin: initial;
            }
            @media screen and (min-width:992px) {
                width:60%;
            }
        }
    }
    .form-and-links{
        form{
            width: 95%;
            @media screen and (min-width:768px) {
                width: 85%;
            }
            .input-group{
                padding:5px;
                border-radius: 20px;
                background-color: white;
             

                button{
                    margin:3px;
                    background: rgba(12, 12, 12, 0.9);
                    color:$white;
                    border-radius: 20px;
                    padding:5px 20px;
                    transition: .3s all linear;
                    box-shadow: none;
                    outline: 0px;
                    border: 0px;
                    &:hover{
                        transform: scale(.9)
                    }
                }
                input{
                    border:0px;
                    outline: 0px;
                    box-shadow: none !important;
                }
            }
        }

        .links{
            a{
                color:$white;
                padding-bottom: 10px;
                @extend %hvr-underline-from-center;
            }
        }
        .mhrab a{
            pointer-events: none;
            position: relative;
            .soon{
                position: absolute;
                top: -20px;
                right: -65%;
                color: #fff;
                display: inline-block;
                transform: scale(.8);
            }
        }
      
    }
    .second-row {
        a,p{
            color:$white;
            margin-bottom: 0px;
        }
        a{
            padding-bottom: 10px;
            
            @extend %hvr-underline-from-center;
        }
    }
}