/* ******************* */
/*        Grid         */
/* ******************* */
* {
	padding: 0px;
	margin: 0px;
}
body{
	position: relative;
	overflow-x:hidden;
}


#body{
	min-height:100px;
	// border:1px solid red;
	direction: rtl;
	overflow: hidden;
}

.container{
	border:1px solid red;
	@media screen and (min-width:1800px) {
		width:80% !important;
		max-width: 80% !important;
	}
}


.container{
	// border:1px solid red;
}
.header{
	
    .content{
     
        // border:2px solid blue;
   
		#nav{
			// border:2px solid green;
		}

		
        .h-content {
            
            // border:3px solid orange;

            .elements{
                // border:3px solid red;
            }
        }
    }
}

.works{
    // border:3px solid blue;
    .item{
        figure{
            // border:5px solid green;
		}
	}
}