#nav{
    // background-color: rgba($mc, .95);

    z-index: 10000;
   @media screen and (max-width:991px) {
    background-color: #161616 !important;
   }
    .navbar-brand{
        position: relative;
        display: inline-block;
        min-width:135px;
        min-height:65px;

        // @media screen and (min-width:992px) {
        //     min-width:130px;
        //     height:85;
        //   }

        img{
            width:135px;
            min-height:55px;

            transition: .3s all linear;
            position: absolute;
            top:5px;
            // @media screen and (min-width:992px) {
            //     width:130px;
            //     height:75px;
            //   }
        }
        .start{
          @media screen and (min-width:992px) {
            position: absolute;
            width:400px !important;
            height:auto !important;
            top: $logoT992 !important;
          }
          @media screen and (min-width:1400px) {
            position: absolute;
            width:500px !important;
            top: $logoT1400 !important;
          }
        }
    }

    #nav-container{
       .navbar-nav{

        @media screen and (max-width:991px) {
            margin-top: 15px;
            text-align: center;
        }
        
     
        .nav-item{
            transition: .3s all ease-in-out;
            width: fit-content;
            margin: auto;
        
            &:first-child,
            &:nth-child(2),
            &:nth-child(5)
            {
                @extend %hvr-underline-from-center;
            }

            &:nth-child(3){
                //هاد زر بياخد الانيميشن من كومبونينت اللبوتن
            }
            &:nth-child(4){
                &:hover{
                    @extend %hvr-wobble-skew;
                }
            }
            margin-bottom: 15px !important;
            @media screen and (min-width:992px) {
                margin-bottom: 0px !important;
                margin-right: 30px;
                margin-top: 0px !important;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        a, span{
            color:$white;
      
        }
        .lang{
            img{
                height: 36px;
            }
        }
        .contact-us-nav-item{
            a{
                @extend %btn;
                @media screen and (max-width:991px) {
                    width: fit-content;
                    margin: auto;
                }


                span{
                    color:$mc;
                }
            }
        }
       }
    }

    .navbar-toggler{
        border:0px;
        outline: 0px;
        box-shadow: none;
    }
}
