*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    outline:none;
    // transition: .3s all linear;
}
a{
    text-decoration: none;
}
.navbar-collapse{
    flex-grow:initial;
}

#body > section{
    position: relative;
    z-index: 0;
}

// .splide {
//     color:white;
//     li{
//         border:2px solid red;

//     }

// }