.header{
	min-height:100vh;
    position: relative;
    z-index: 10000;

    @media screen and (max-height:550px){
        min-height: 130vh;
        .h-content{
            height:calc(130vh - 80px) !important;
        }
    }
        
    
    .LBack{
        z-index: -2;
        position: absolute;
        top:0px;
        left: 0px;
        width:100%;
        height:100%;
        background-color: rgba($color: $mc, $alpha: 1);
    }
    > img{
        position: absolute;
        top:0px;
        left: 0px;
        width:100%;
        height:100%;
        z-index: -1;
    }
    .content{
        position: absolute;
        bottom:0px;
        left: 0px;
        width:100%;
        // height:calc(100vh - 80px);
        height:100%;
        // border:2px solid blue;
        z-index: 0;
        .h-content {
            color:$white !important;
            height:calc(100vh - 80px);
            position: absolute;
            bottom:0px;
            left: 0px;
            width:100%;
            // border:3px solid orange;

            @media screen and (max-width:991px) {
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
            }

            .elements{
                position: absolute;
                width: 100%;
               @media screen and (max-width:991px) {
                transform: translateY(-6%);
               }

                @media screen and (min-width:992px) {
                    top:calc($logoT992 + 110px)
                }
                @media screen and (min-width:1400px) {
                    top:calc($logoT1400 + 170px)
                }

                .container{
                    @media screen and (max-width:991px) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        align-content: center;
                        flex-direction: column;
                    }
                
                    a{
                        @extend %btn;

                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: fit-content;


                        span{
                            color:$white;
                            background-color: $mc;
                            border-radius: 50%;
                            display: inline-block;
                            font-weight: bold;
                            text-align: center;
                            line-height: 22px;
                            width:26px;
                            height:26px;
                            transition: .3s all linear;
                            
                        }
                    }

                    .owl-carousel{
                        // border:2px solid green !important;
                        width:80%;
                        @media screen and (min-width:768px) {
                            width:60%;
                        }
                        @media screen and (min-width:992px) {
                            width:35%;
                        }
                        .owl-stage{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        .owl-stage-outer{
                            @media screen and (min-width:992px) {
                                position: relative;
                                &:after{
                                    content: '';
                                    position: absolute;
                        
                                    top:0px;
                                    left: 0px;
                                    width:100%;
                                    height:110%;
                                    background: linear-gradient(90deg, #151515 5%, rgba(0, 0, 0, 0.2) 15%, transparent, transparent);
                                }
                            }
                        }
                        .item{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img{
                                width:40px;
                                height: 40px;
                                object-fit: contain;
                            }
                        }
                    }

                    
                }
            }

            figure{
           
                width:$figureDim;
                height: $figureDim;
                border-radius: 50%;
                overflow: hidden;

           
                display: flex;
                justify-content: center;
                align-items: center;
                

                background: radial-gradient(50% 50% at 50% 50%, rgba(153, 237, 229, 0.2) 0%, rgba(178, 241, 235, 0.159167) 25.52%, rgba(215, 246, 243, 0.0983333) 43.23%, rgba(234, 249, 247, 0.0683333) 82.29%, rgba(251, 251, 251, 0.04) 100%);

         

                .figure-container {



                    border:2px solid #ddd3;

                    width:calc($figureDim - 7.5vw);
                    height: calc($figureDim - 7.5vw);

                    border-radius: 50%;
                    padding: 7.5vw;
                                

                    display: flex;
                    justify-content: center;
                    align-items: center;


                }
                img{
                    width:calc($figureDim - 15vw);
                    height: calc($figureDim - 15vw);
                    border-radius: 50%;

                    // display:none;
                }
            }
            figure.small-screen{
                transform: scale(1.2);
                margin-bottom: 35px;
                @media screen and (min-width:768px) {
                    transform: scale(0.9);
                    margin-bottom: 35px;
                }
            }
            figure.large-screen{
                position: absolute;
                bottom:calc($figureDim / -3);
                left:calc($figureDim / -4);

                @media screen and (min-width:992px) and (min-height:900px) {
                    transform: scale(1.30);
                    bottom:calc($figureDim / -4);
                    left:calc($figureDim / -5);
                }

            }
        }
    }
}

.services{
    padding-top:$sectionPT;
    @media screen and (min-width:992px) {
        padding-top:15vh;
        
    }
    h2{
        text-align: center;
        font-weight: bold;
    }

    .all-ser{
        margin-top: 35px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap:5%;

        .ser{
            // border:2px solid red;

            cursor: default !important;
            margin-bottom: 40px;
            width:calc((100% - 5%) / 2);
            text-align: center;
            @media screen and (min-width:992px) {
                width:calc((100% - 10%) / 3);
                text-align: right;
            }


            .ser-icon{
                width: 100%;
                display: flex;
                justify-content: center;
                @media screen and (min-width:992px) {
                    justify-content: flex-end;
                }
    
                margin-bottom: 20px;

                z-index: -5;
                position: relative;
    
                img{
                    display: block;
                    width:50px;
                    height: 50px;

                }
            }
            h4{
                color:$mc;
                font-weight: bold !important;
            }
            p{
                color:$mc;
            }


            &:hover img{
                @extend %hvr-pulse-shrink;
            }


        }
    }
}

.works{
  
    background-color: $mc;
    padding:  $sectionPT 0px calc($sectionPT / 2) 0px;

    .item{
        color:$white;

        // .carousel-title{

        // }


        .carousel-header{
            .number{
                color:rgba(255, 219, 88, 1);
            }
            .title{
                color:white;
            }
        }

        figure{
            text-align: center;
            img{
                width:100%;
                display: inline-block;
                margin: auto;
                border-radius: 20px;
                @media screen and (min-width:768px) and (max-width:991px) {
                    width:70%;
                }
            }
        }
    }

    .owl-dots {
        padding: 5px 0px 5px;
        text-align: center;
        button.owl-dot {
            width: 15px;
            height: 15px;
            border: 2px solid $grey;
            background-color: $grey;
            border-radius: 50%;
            margin: 2px;
        }
        button.owl-dot.active {
            border: 5px solid $white !important;
            background-color: $white;
        }
    }
}

.how-to-build {
    padding-top:$sectionPT;
    h2{
       color:$grey;
       font-weight: bold;
    }
   .w{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: default !important;

    &:hover figure{
        transform: rotate(-360deg);
    }
    figure{

        transition: .3s all ease-in-out;
        background-color: $mc;
        border-radius: 50%;

        padding:15px;
        width:70px;
        height:70px;

        @media screen and (min-width:1600px) {
            width:100px;
            height:100px;
        }
        img{
            width:100%;
            height: 100%;
        }
    }
    h3{
        font-weight: bold;
        color:$mc;
    }
   }
}

.customers{
    padding-top: calc($sectionPT * 1.5);
    h2{
        font-weight: bold;
    }
    figure{
        width:100%;
        img{
            width:100%;
            filter: grayscale(1);
            opacity: .75;
        }
    }
}

.whatsapp-icon {
    padding-top: calc($sectionPT * 1.5);
    padding-bottom: calc($sectionPT * 1.5);

    .container {
        background-color: $mc;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        @extend %hvr-wobble-skew;
        .row{
            > *{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
               
            }
            .txt{
                h2{
                    font-weight: bold;
                }
                h2,p{
                    color:$white;
                }
            }
            .img-container{
                display: flex;
                align-items: flex-end;
                @extend %hvr-wobble-skew;
                img{
                    width: 100%;
                    transform: scale(1.5);
                    height: auto;
                }
            }
        }
    }
}