footer#footer 
    .container.py-3.py-lg-5 
    
        .row 
            .col-12.col-md-6.text-md-start.details 
                img(src="./img/logo2.png", class="logo",alt="logo")
                p.text-center.text-md-start.mt-3.mb-3.mb-md-0
                    | دارنا للدعاية والاعلان تركز على التصميم والتسويق لمنتجات وخدمات سكانها
            .col-12.col-md-6.text-md-end.form-and-links.d-flex.align-items-center.align-items-md-end.flex-column.mt-3.mt-md-0
                form.needs-validation(action="",novalidate)  
                    label.fw-bold(for="email") نشرة دارنا
                    .input-group.mb-3.mt-2
                        button#button-addon2.btn.btn-outline-secondary(type='submit') ارسلها
                        input#email.form-control(type='email' placeholder="نرسلك على خفيف مو زيهم",required)
                    

                section.links.my-2.my-md-4
                    a.fw-bold.d-inline-block.me-4(href="") فزعتنا 
                    a.fw-bold(href="") منتجاتنا

                section 
                    a(href="#")
                        img(src="./icon/Isolation_Mode.png", alt="") 

        hr

        .row.second-row 
            .col-12.col-md-6.col-lg-4 
                a.d-block.text-center.text-md-start.fw-bold(href='https://wa.me/966500095203') 
                    | تواصل توصل
            .col-12.col-md-6.col-lg-4.my-3.my-md-0
                p.text-center.text-md-end.text-lg-center
                    |سبحان الله وبحمده سبحان الله العظيم 
            .col-12.col-lg-4.mt-md-4.mt-lg-0
                p.text-center.text-lg-end 
                    | جميع الحقوق محفوظة عند ربنـــا
