nav#nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.py-0
    .container(data-aos="fade-down")
        a(class="navbar-brand fixed-top",href="index.html")
            img(class="start",src="./img/logo.png",id="logo")

        button(class="ms-1 navbar-toggler",type="button" ,data-bs-toggle="collapse", data-bs-target="#nav-container",aria-controls="nav-container" ,aria-expanded="false" ,aria-label="Toggle Navigation")
            span.navbar-toggler-icon

        #nav-container.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item.px-3.px-lg-0
                    a.nav-link(href='#') فزعتنا
                li.nav-item.px-3.px-lg-0
                    a.nav-link(href='#') منتجاتنا
                li.nav-item.px-3.px-lg-0.contact-us-nav-item
                    a.nav-link(href='https://wa.me/966500095203') تواصل مع  #[strong دارنا]
                li.nav-item.px-3.px-lg-0.d-none.d-lg-block
                    a.nav-link.lang(href='#') 
                        img(src="./icon/ar.png")
                li.nav-item.px-3.px-lg-0.d-block.d-lg-none
                    a.nav-link.lang(href='#') 
                        | English | العربية


